<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>
            <a href="/">Home</a> · 
            <a href="/tags">Tags</a> · 
            <a href="https://github.com/alessandrocuzzocrea/garden">Source Code</a>
        </p>
    </header>
    {{ content | safe }}
    <footer>
        <hr>
        <p>
            <a href="/">Home</a> · 
            <a href="/tags">Tags</a> · 
            <a href="https://github.com/alessandrocuzzocrea/garden">Source Code</a>
        </p>
        <p>
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work by <a xmlns:cc="https://creativecommons.org/ns#" href="https://alessandrocuzzocrea.com" property="cc:attributionName" rel="cc:attributionURL">Alessandro Cuzzocrea</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </p>
    </footer>
</body>
</html>
