<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if noindex -%}
      <meta name="robots" content="noindex">
    {% else -%}
      <meta name="robots" content="index, follow">
      <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    {% endif -%}
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title or site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"> <style>:root
    {
      font-size: 14px;
    }
  </style>
  {% if codeHighlighting -%}
    <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-okaidia.min.css" rel="stylesheet">
  {% endif -%}
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>
<body>
  {% if false %}
    {% if site.cse %}
      <script async src="https://cse.google.com/cse.js?cx=06888cfbc14614589"></script>
      <div class="gcse-search"></div>
    {% endif %}
  {% endif %}
  <header>
    <p>
      <a href="/">Home</a>
      ·
      <a href="/tags/">Tags</a>
      ·
      <a href="https://github.com/alessandrocuzzocrea/garden">Source Code</a>
    </p>
    <hr>
  </header>
  {{ content | safe }}
  <footer>
    <hr>
    <p>
      ©
      <a href="https://alessandrocuzzocrea.com" target="_blank" rel="noopener noreferrer">Alessandro Cuzzocrea</a>
    </p>
  </footer>
</body>
<script data-goatcounter="https://alessacrea-garden.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script></html>
