---
title: 
layout: main.njk
eleventyExcludeFromCollections: true
---

<main>
  <h1>🎄 {{ site.title }} 🎄</h1>
  <h3>Welcome to my Digital Garden!</h3>
  <p>Recently updated:</p>
  <ul>
    {%- for note in collections.all | reverse | take(10) -%}
      <li>
        <a href="{{ note.data.permalink }}">{{ note.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <p>Popular tags:</p>
  {% for tag in collections.tagsList | tagsSortByCount | reverse | take(10) %}
    <a href="/tags/{{ tag.name }}/">{{ tag.name }} ({{ tag.count }})</a>
    {% if not loop.last %},
    {% endif %}
  {% endfor %}
</main>
